git+https://github.com/naormatania/tner.git@master
#git+https://github.com/naormatania/CyNER.git@main
git+https://github.com/naormatania/CyNER.git@6d7d22b264cd73feba0aed2891d33986fead7b44
#git+https://github.com/naormatania/tner.git@onnx
#git+https://github.com/naormatania/CyNER.git@onnx
fastapi==0.65.2
optimum
nltk